---
layout: default
---

<div class="post">

    <p class="meta">Title: {{ page.title }} </p>
    <p class="meta">Date: {{ page.date }}</p>

    {{ content }}

    <p class="meta">{{ page.salutation }},</p>
    <p class="meta">Blake</p>

</div>